#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {  
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base_layer";
            bindings = < 
            &kp 1    &kp 2    &kp3
            &kp 4    &kp 5    &kp6
            >;
        };
        extra_layer_1 {
            status = "reserved";
        };
        extra_layer_2 {
            status = "reserved";
        };
    };
 };
