#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {  
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = < 
            &kp 1    &kp 2
            &kp 3    &kp 4   
            >;
        };
        extra_layer_1 {
            status = "reserved";
        };
        extra_layer_2 {
            status = "reserved";
        };
    };
 };
