# Required files for ZMK to recognize the shield

# No whitespace after the comma or in your keyboard name!
# Config name will be reused in Kconfig.defconfig

config KBNAME
    def_bool $(shields_list_contains,cart_macro)
